<div class="large-3 small-12 column" style="margin-top: 50px">
  <%=image_tag product['obj'].poster%>
</div>
<div class="large-9 small-12 column">
  <h3>
    <%= product['obj'].title %>
    (<%= product['obj'].release_year %>)
    <%=link_to product['obj'].imdb do%>
      <%=image_tag asset_url("imdb_logo.png")%>
    <%end%>
  </h3>
  <p class="label movie-label radius mb1">$ <%= product['obj'].price %>&nbsp;&times;&nbsp;<%= product['quantity'] %></p>

  <p><%= product['obj'].description %></p>

  <%if signed_in?%>
    
    <%=link_to add_one_to_shopping_cart_path(product['obj']), class: "button" do%>
      <i class="fi-shopping-cart"></i>
      <span>Add one to Cart</span>
    <%end%>
      
    <%if product['cart_action'].eql? "Exist" %>
    <br/>
      <%=link_to remove_one_from_shopping_cart_path(product['obj']), class: "button" do%>
        <i class="fi-shopping-cart"></i>
        <span>Remove one to Cart</span>
      <%end%> 
    <%end%>
  <%end%>
</div>
