<h1>Products#index</h1>

<h4 class="column">Featured Movies</h4>
<div class="column">
  <ul class="movies-grid no-bullet row">
    <% @products.each do |product| %>
      <li class="large-3 medium-4 small-12 column">
        <div class="movie-card padly">
          <%= link_to product, class: "poster" do %>
            <%= image_tag product.poster %>
          <% end %>
          <div class="movie-info ell glassy-bg padmy padlx">
            <div class="title">
              <h6><%= product.title %> <span>(<%= product.release_year %>)</span></h6>
            </div>
            <p class="left price label movie-label radius">$ <%= product.price %></p>
            <%= link_to product.imdb, class: "right" do %>
              <%= image_tag asset_url("imdb_logo.png") %>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
