<div class="large-3 small-12 column">
  <%=image_tag @product.poster%>
</div>
<div class="large-9 small-12 column">
  <h3>
    <%= @product.title %>
    (<%= @product.release_year %>)
    <%=link_to @product.imdb do%>
      <%=image_tag asset_url("imdb_logo.png")%>
    <%end%>
  </h3>
  <p class="label movie-label radius mb1">$ <%= @product.price %></p>

  <p><%= @product.description %></p>

  <%if signed_in?%>
    
    <%=link_to add_one_to_shopping_cart_path(@product), class: "button" do%>
      <i class="fi-shopping-cart"></i>
      <span>Add one to Cart</span>
    <%end%>
      
    <%if @cart_action.eql? "Exist" %>
      <%=link_to remove_one_from_shopping_cart_path(@product), class: "button" do%>
        <i class="fi-shopping-cart"></i>
        <span>Remove one to Cart</span>
      <%end%> 
    <%end%>
  <%end%>
</div>
