
<%= form_tag charges_path, id: 'stripeForm' do %>
<article>
 <%= label_tag 'amount', 'To Pay', class: 'amount' %>
 <%= label_tag 'amount', "$#{@total}", class: "amount-figure" %>
</article> <br>
<button id="stripe-button">Pay over</button>
<%= hidden_field_tag 'stripeToken' %>
<%= hidden_field_tag 'stripeEmail' %>
<%= hidden_field_tag 'stripeAmount' %>
<script type="text/javascript"> 
$(document).ready(function($) {
  
 var handler = StripeCheckout.configure({
   key: "<%= Stripe.api_key %>",
   token: function (token, args) {
     $("#stripeToken").val(token.id);
     $("#stripeEmail").val(token.email);
     $("#stripeAmount").val(<%= @total %>);
     $("#stripeForm").submit();
   }
 });
 
 $('#stripe-button').on('click', function (e) {
       // Open Checkout with further options
       handler.open({
         name: 'Stas Andrichuk',
         description: 'Your description goes here',
         amount: <%= (@total.to_f * 100).to_i %>
       });
       e.preventDefault();
     });
 
 $(window).on('popstate', function() {
   handler.close();
 });

});
</script>
<% end %>